

<div class="header" id="home">
		
<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				
<div class="container">
					
<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar" />
					<span class="icon-bar" />
					<span class="icon-bar" />
				</button>
						<a class="navbar-brand" href="index.html">
							
<h1><span class="fa fa-signal" aria-hidden="true" /> Soft <label>Hr Agency</label></h1>
						</a>
					</div>
					
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							
<ul class="nav navbar-nav">
								
<li class="active"><a href="index.html" class="effect-3">Home</a></li>
								
<li class="dropdown">
									<a href="services.html" class="dropdown-toggle effect-3" data-toggle="dropdown">Services <b class="caret" /></a>
									
<ul class="dropdown-menu">
										
<li><a href="services.html">Services 2</a></li>
										
<li class="divider" />
										
<li><a href="services.html">Services 3</a></li>
										
<li class="divider" />
										
<li><a href="codes.html">Codes</a></li>
										
<li class="divider" />
										
<li><a href="icons.html">Icons</a></li>
										
<li class="divider" />
										
<li><a href="services.html">One more separated link</a></li>
									</ul>
								</li>
								
<li class="dropdown">
									<a href="jobs.html" class="dropdown-toggle effect-3" data-toggle="dropdown">Jobs<b class="caret" /></a>
									
<ul class="dropdown-menu multi-column columns-2">
										
<div class="row">
											
<div class="col-sm-6">
												
<ul class="multi-column-dropdown">
													
<li><a href="jobs.html">Walk-ins</a></li>
													
<li><a href="jobs.html">Bpo Jobs</a></li>
													
<li><a href="jobs.html">Teaching Jobs</a></li>
													
<li><a href="jobs.html">Diploma Jobs</a></li>
													
<li><a href="jobs.html">Tech Support</a></li>
													
<li><a href="jobs.html">Finance Jobs</a></li>
													
<li><a href="jobs.html">Part time Jobs</a></li>
													
<li><a href="jobs.html">Health Care</a></li>
													
<li><a href="jobs.html">Hospitality</a></li>
													
<li><a href="jobs.html">Internships</a></li>
													
<li><a href="jobs.html">Research Jobs</a></li>
													
<li><a href="jobs.html">Defence Jobs</a></li>
												</ul>
											</div>
											
<div class="col-sm-6">
												
<ul class="multi-column-dropdown">
													
<li><a href="login.html">Recruiter Updates</a></li>
													
<li><a href="upload.html">Upload Resume</a></li>
													
<li><a href="codes.html">Shortcodes</a></li>
												</ul>
											</div>
										</div>
									</ul>
								</li>
								
<li><a href="events.html" class="effect-3">Events</a></li>
								
<li><a href="professional.html" class="effect-3">Professionals</a></li>
								
<li><a href="contact.html" class="effect-3">Contact</a></li>
							</ul>
						</nav>
					</div>
					
				</div>
			</nav>
		</div>
	</div>
	