<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Liste des Entretiens:</ui:define>
<ui:define name="content">

<h:panelGroup columns="2">
<h:form>
<table>


<tr>
<td>
    <h:outputText value="Date Debut"/>
</td>
<td>
     <h:inputText id="date" value="#{entretienBean.dateDebut}">
              <f:convertDateTime pattern="dd-MM-yyyy"/>
     </h:inputText>
</td>
<td>
     <h:message for="date" style="color:red"/>
</td>
</tr>
<tr>
<td>
    <h:outputText value="Date fin"/>
</td>
<td>
     <h:inputText id="date1" value="#{entretienBean.dateFin}">
              <f:convertDateTime pattern="dd-MM-yyyy"/>
     </h:inputText>
</td>
<td>
     <h:message for="date1" style="color:red"/>
</td>
</tr>
<tr><td>
<h:outputText value="Théme"/></td> <td><h:inputText value="#{entretienBean.theme}"/></td></tr>
<tr><td>
<h:outputText value="Location"/></td> <td><h:inputText value="#{entretienBean.location}"/></td></tr>

 
 

<tr><td colspan="2"> 
<h:commandButton value="Ajouter Employé" action="#{entretienBean.ajouterEntretien()}" />
<h:commandButton value="Mettre A jour Employé" action="#{entretienBean.updateEntretien()}" />
</td></tr>
</table>
</h:form>
</h:panelGroup>
	


<h:panelGroup columns="2"> 
<h:form> 
<table>
<h:dataTable value="#{entretienBean.entretiens}" var="entretien" border="1">
<h:column><f:facet name="header"><h:outputText value="Date_Debut" /></f:facet> 
<h:outputText value="#{entretien.dateDebut}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Date_Fin" /></f:facet> 
<h:outputText value="#{entretien.dateFin}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Location" /></f:facet> 
<h:outputText value="#{entretien.location}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Théme" /></f:facet> 
<h:outputText value="#{entretien.theme}" /></h:column>
<h:column> <f:facet name="header"><h:outputText value="Action" /></f:facet> 	
<h:commandButton action="#{entretienBean.removeEntretien(entretien.id)}" value="Supprimer" /> 
<h:commandButton action="#{entretienBean.displayEmploye(entretien)}" value="Afficher" />
</h:column>


</h:dataTable> 
</table>
</h:form>
 </h:panelGroup>


</ui:define>
</ui:composition>