<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Ajouter Contrat à Un Employe</ui:define>
<ui:define name="content">


	

<h:form>

</h:form>
<h:panelGroup columns="2">
<h:form>
<table>

<tr>
<td>
    <h:outputText value="Nom Entreprise"/>
</td>
<td>
     <h:inputText id="nom" value="#{entrepriseBean.nomEntreprise}">
             
     </h:inputText>
</td>

</tr>
<tr>
<td>
    <h:outputText value="Description "/>
</td>
<td>
     <h:inputText id="date1" value="#{entrepriseBean.descriptionEntre}">
              
     </h:inputText>
</td>

</tr>
<tr><td><h:outputText value="nombreEmp"></h:outputText></td> 

<td><h:inputText value="#{entrepriseBean.nbrEmploye}"/></td>

</tr>
<tr><td>
<h:outputText value="isDeleted"/></td> 
<td><h:inputText value="#{entrepriseBean.deleted}"/></td></tr>

 
 

<tr><td colspan="2"> 
<h:commandButton value="Ajouter Entretien" action="#{entrepriseBean.ajouterEntreprise()}" />

</td></tr>
</table>
</h:form>
</h:panelGroup>


</ui:define>
</ui:composition>
