<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Liste des Entretiens:</ui:define>
<ui:define name="content">

<h:panelGroup columns="2">
<h:form>
<table>



<tr><td>
<h:outputText value="Nom_Quiz"/></td> <td><h:inputText value="#{quizBean.name_Quiz}"/></td></tr>
<tr><td>
<h:outputText value="Points_Tot"/></td> <td><h:inputText value="#{quizBean.nbr_Point_Tolal}"/></td></tr>
<tr><td>
<h:outputText value="Nbr_Question"/></td> <td><h:inputText value="#{quizBean.nbr_Question}"/></td></tr>
 
 

<tr><td colspan="2"> 
<h:commandButton value="Ajouter Quiz" action="#{quizBean.ajouterQuiz()}" />
<h:commandButton value="Mettre A jour Employé" action="#{quizBean.updateQuiz()}" />
</td></tr>
</table>
</h:form>
</h:panelGroup>

<h:panelGroup columns="2"> 
<h:form> 
<table>
<h:dataTable value="#{quizBean.quizs}" var="quiz" border="1">

<h:column><f:facet name="header"><h:outputText value="Nom_Quiz" /></f:facet> 
<h:outputText value="#{quiz.name_Quiz}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Points_Tot" /></f:facet> 
<h:outputText value="#{quiz.nbr_Point_Tolal}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Nbr_Question" /></f:facet> 
<h:outputText value="#{quiz.nbr_Question}" /></h:column>
<h:column> <f:facet name="header"><h:outputText value="Action" /></f:facet> 	
<h:commandButton action="#{quizBean.removeQuiz(quiz.id)}" value="Supprimer" /> 
<h:commandButton action="#{quizBean.displayQuiz(quiz)}" value="Afficher" />
</h:column>


</h:dataTable> 
</table>
</h:form>
 </h:panelGroup>

	
</ui:define>
</ui:composition>