<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Gestion des questions:</ui:define>
<ui:define name="content">

<h:panelGroup columns="2">
<h:form>
<table>



<tr><td>
<h:outputText value="Content"/></td> <td><h:inputText value="#{questionBean.content_Question}"/></td></tr>
<tr><td>
<h:outputText value="Choix 1"/></td> <td><h:inputText value="#{questionBean.choice1}"/></td></tr>
<tr><td>
<h:outputText value="Choix 2"/></td> <td><h:inputText value="#{questionBean.choice2}"/></td></tr>
 
<tr><td>
<h:outputText value="Choix 3"/></td> <td><h:inputText value="#{questionBean.choice3}"/></td></tr> 

<tr><td colspan="2"> 
<h:commandButton value="Ajouter Quiz" action="#{questionBean.ajouterQuestion}" />
<h:commandButton value="Mettre A jour Employé" action="#{questionBean.updateQuestion}" />
</td></tr>
</table>
</h:form>
</h:panelGroup>

<h:panelGroup columns="2"> 
<h:form> 
<table>
<h:dataTable value="#{questionBean.questions}" var="question" border="1">

<h:column><f:facet name="header"><h:outputText value="Content" /></f:facet> 
<h:outputText value="#{question.content_Question}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Choice 1" /></f:facet> 
<h:outputText value="#{question.choice1}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Choice 2" /></f:facet> 
<h:outputText value="#{question.choice2}" /></h:column>
<h:column><f:facet name="header"><h:outputText value="Choice 3" /></f:facet> 
<h:outputText value="#{question.choice3}" /></h:column>
<h:column> <f:facet name="header"><h:outputText value="Action" /></f:facet> 	
<h:commandButton action="#{questionBean.removeQuestion(question.id_Question)}" value="Supprimer" /> 
<h:commandButton action="#{questionBean.displayQuestion(question)}" value="Afficher" />
</h:column>


</h:dataTable> 
</table>
</h:form>
 </h:panelGroup>

	
</ui:define>
</ui:composition>