<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Welcom</ui:define>
<ui:define name="content">
Welcom #{loginBean.employe.nom} #{loginBean.employe.prenom} 

	

<h:form>
<h:commandButton action="#{loginBean.doLogout()}" values="logout"/>
<h:link outcome="/Pages/Admin/AjouterContrat" value="AddEMp"/>
<h:link outcome="/Pages/Admin/GererEmployer" value="Afficher"/>



</h:form>


</ui:define>

</ui:composition>

