<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">
<ui:define name="title">Ajouter Contrat à Un Employe</ui:define>
<ui:define name="content">


	

<h:form>

</h:form>
<h:panelGroup columns="2">
<h:form>
<table>

<tr>
<td>
    <h:outputText value="Date Debut"/>
</td>
<td>
     <h:inputText id="date" value="#{entretienBean.dateDebut}">
              <f:convertDateTime pattern="dd-MM-yyyy"/>
     </h:inputText>
</td>
<td>
     <h:message for="date" style="color:red"/>
</td>
</tr>
<tr>
<td>
    <h:outputText value="Date fin"/>
</td>
<td>
     <h:inputText id="date1" value="#{entretienBean.dateFin}">
              <f:convertDateTime pattern="dd-MM-yyyy"/>
     </h:inputText>
</td>
<td>
     <h:message for="date1" style="color:red"/>
</td>
</tr>
<tr><td><h:outputText value="Location"></h:outputText></td> 

<td><h:inputText value="#{entretienBean.location}"/></td>

</tr>
<tr><td>
<h:outputText value="Type"/></td> 
<td><h:inputText value="#{entretienBean.theme}"/></td></tr>

 
 

<tr><td colspan="2"> 
<h:commandButton value="Ajouter Entretien" action="#{entretienBean.addEntretien()}" />

</td></tr>
</table>
</h:form>
</h:panelGroup>


</ui:define>
</ui:composition>
